{% extends 'layout.html' %}
{% load i18n %}

{% load static %}
{% block title %}
    <title>Learn To Earn</title>
{% endblock%}

{% block content %}
<style>
.st{
position: relative;

top: 30px;

}
.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 2rem;
}

.card2 {
    margin: 0px 40px
}

.logo {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 450px;
    height: 450px
}

.border-line {
    border-right: 1px solid #8c9eb3
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.google {
    background-color: #eb4336;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}


.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    font-size: 20px;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 30px
    }

    .image {
        width: 300px;
        height: 300px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 15px
    }
}
</style>
  <div class="st container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
      <ul class="errorlist">

            {% for field in form %}
            {% if field.errors %}

                  {% for error in field.errors %}
                    <li style="font-weight:bold% ; text-align:center; color:red;">{{ error }}</li>
                  {% endfor %}

            {% endif %}
          {% endfor %}
        </ul>
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="{% static 'images/logo3.png' %}" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="{% static 'images/forgot-p.jpg' %}" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3 mb-4">
                        <p class="or text-center">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
Learn To Earn. As a final step, please complete the following form:{% endblocktrans %}</p>
                    </div>
                    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                    {% csrf_token %}
                        {% csrf_token %}
                        {% for fields in form %}
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">{{ fields.label }}</h6>
                            </label> {{ fields }} </div>
                        {% endfor %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="row mb-3 px-3" style="margin-top:20px"> <button type="submit" class="btn btn-blue text-center">Sign Up</button> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}