{% extends 'layout-admin.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    <title>Learn To Earn</title>
{% endblock%}
{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Admin Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-4 col-md-4">
            <div class="card bg-primary text-white mb-4">
                <div style="font-weight: bold" class="card-body">Total News Published: 0</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="allNews">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 ">
            <div class="card bg-warning text-white mb-4">
                <div style="font-weight: bold"  class="card-body">Total Contact Messages Received : 0</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-4">
            <div class="card bg-success text-white mb-4">
                <div style="font-weight: bold" class="card-body">Total Courses: {{totalcourse}}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="allCourses">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Total Users : {{users.count}}
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Birth Date</th>
                        <th>Phone Number</th>
                        <th>Date Joined</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Birth Date</th>
                        <th>Phone Number</th>
                        <th>Date Joined</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><a href="/viewprofile/{{user.profile.username}}">{{user.username}}</a></td>
                        <td>{{user.profile.firstname}} {{user.profile.lastname}}</td>
                        <td>{{user.profile.address}}</td>
                        {% if user.profile.birthdate == None %}
                        <td>Not Updated</td>
                        {% else %}
                        <td>{{user.profile.birthdate|date:"F d, Y"}}</td>
                        {% endif %}
                        <td>{{user.profile.phonenumber}}</td>
                        <td>{{user.date_joined}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}