{% extends 'layout-admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% block title %}
    <title>Learn To Earn</title>
{% endblock%}
{% block content %}
<style>
.btn-v{
    width:150px
}
.btn-s{
    width:100px
}
</style>
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <div style="margin-top:3rem; margin-bottom:3rem">
      <a href="/admins-dashboard/examCreate/{{course_id}}" class="btn btn-primary">Add Exam</a>
         <div class="card mb-4" style="margin-top:3rem; margin-right:3rem;">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Total News : {{exams.count}}
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Exam No.</th>
                            <th>Exam Name</th>
                            <th>Date Added</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i in exams  %}
                        <tr>
                            <td>{{i.ExamNumber}}</td>
                            <td>{{i.ExamTitle}}</td>
                            <td>{{i.date| date:"F d, Y"}}</td>
                            <td>
                              <a href="/admins-dashboard/editExam/{{course_id}}/{{i.id}}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit</a>
                              <a href="/admins-dashboard/delExam/{{course_id}}/{{i.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Want to delete?')"><i class="fa fa-trash"></i> Delete</a>
                                {% if i.MCQ %}
                                  <a href="/admins-dashboard/allQNA/{{i.id}}" class="btn btn-s btn-primary btn-sm">View MCQs</a>
                                {% else %}
                                  <a href="/admins-dashboard/qnaCreate/{{i.id}}" class="btn btn-s btn-primary btn-sm">Add MCQ</a>
                                {% endif %}
                                {% if i.ExamQ %}
                                    <a href="/admins-dashboard/ViewQsn/{{i.id}}" class="btn btn-v btn-primary btn-sm">View ExamQuestion</a>
                                {% else %}
                                    <a href="/admins-dashboard/QsnCreate/{{i.id}}" class="btn btn-v btn-primary btn-sm">Add ExamQuestion</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
    </div>
</div>

{%endblock%}