{% extends 'layout-admin.html' %}
{% load bootstrap %}
{% block title %}
    <title>Learn To Earn</title>
{% endblock%}
{% block content %}
<style>
.col-sm-2 {
max-width:400% !important;
}
.help-block {
    display:none;
}
</style>
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <div class="card py-2 px-2">
    <form class="form" action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form | bootstrap_horizontal }}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
{% endblock %}