{% extends 'layout-admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% block title %}
    <title>Learn To Earn</title>
{% endblock%}
{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">View All Messages</li>
    </ol>
    <div style="margin-top:3rem; margin-bottom:3rem">
         <div class="card mb-4" style="margin-top:3rem; margin-right:3rem;">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Total Messages Received : {{totalmsg.count}}
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Date Received</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i in totalmsg  %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.firstname}} {{i.lastname}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.phonenumber}}</td>
                            <td>{{i.date| date:"F d, Y"}}</td>
                            <td>
                                {% if i.responded %}
                              <a href="/admins-dashboard/messageView/{{i.id}}"  class="btn btn-success btn-sm"><i class="fas fa-reply"></i>Responded</a>
                                {% else %}
                              <a href="/admins-dashboard/messageView/{{i.id}}" class="btn btn-warning btn-sm"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                                {% endif %}
                                <a href="/admins-dashboard/delResponse/{{i.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Want to delete?')"><i class="fa fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
    </div>
</div>

{%endblock%}