{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>PadhanPathan</title>
{% endblock%}

{% block content %}
<style>
.st{
position: relative;

top: 30px;

}
.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 2rem;
}

.card2 {
    margin: 0px 40px
}

.logo {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 400px;
    height: 350px
}

.border-line {
    border-right: 1px solid #8c9eb3
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.google {
    background-color: #eb4336;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}


.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 30px
    }

    .image {
        width: 300px;
        height: 250px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 15px
    }
}
</style>

  <div class="st container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="{% static 'images/logo3.png' %}" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="{% static 'images/online3.png' %}" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mt-4 pb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                        <div class="google text-center mr-3">
                           <a href="/accounts/google/login"> <div class="fa fa-google"></div></a>
                        </div>
                        <div class="facebook text-center mr-3">
                            <a href="/accounts/facebook/login"> <div class="fa fa-facebook"></div></a>
                        </div>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div> <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <form id="login" method="POST" action="">
                    {% csrf_token %}
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Username</h6>
                            </label> <input class="mb-4" type="text" id="username" name="username" value="{{ data.username }}" placeholder="Enter Username"> </div>
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                            </label> <input type="password" id="password" name="password" placeholder="Enter password"> </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="/forgot-p" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                        </div>
                        {% if request.GET.next %}
                        <input id="url" type="hidden" name="next" value="{{request.GET.next}}">
                        {% endif %}
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Login</button> </div>
                    </form>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger" href="/register">Register</a></small> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).on('submit','#login',function(e){
        e.preventDefault();
        $button = $("#login");
        if ($button.data("pressed") !== true) {
            $.ajax({
                type:'POST',
                url:"{% url 'login' %}",
                data:{
                    'username':$('#username').val(),
                    'password':$('#password').val(),
                    'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                },
                success:function(response){
                    var messages = $(response).find('#mesg')
                    var messages_c = $(messages).attr('class')
                    var url = $('#url').val();
                    var user = $('#username').val()
                    var text = `Welcome ${user}`
                    var text1= `Welcome Admin, ${user}`
                    if((messages.text()).toUpperCase() == text.toUpperCase()){
                        localStorage.setItem('myData', response);
                        $('#login').trigger("reset");
                            if(url){
                                window.location = url;
                            }else{
                                window.location = "/home";
                            }
                    }else if((messages.text()).toUpperCase() == text1.toUpperCase()) {
                        localStorage.setItem('myData', response);
                        $('#login').trigger("reset");
                        if(url){
                            window.location = url;
                        }else{
                            window.location = "/admins-dashboard";
                        }
                    }else {
                        $button.data("pressed", true);
                        $('#mesgg').removeAttr("class");
                        $('#mesgg').addClass(messages_c);
                        $('#mesgg').text(messages.text());
                        $('#mesgg').animate({left:'0px'},500);
                        window.setTimeout(function() {
                                $('#mesgg').animate({left:'400px'});
                                $button.data("pressed", false);
                                }, 3000);
                    }
                },
                error:function(response){
                    console.log(response)

                },
            });
        }
    });
</script>
{% endblock %}