{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>Learn To Earn</title>
{% endblock%}

{% block content %}
<style>
.st{
position:relative;
top:50px;

</style>

    <div class="container p-4">
	    <h2 class="font-weight-bold mt-3">All Set</h2>
		<hr>
        <p>Your password has been set. You can now log in by also typing your username: ({{request.user.username}}) and your new password.</p>
        <a href="/home" class="btn btn-primary">Go Home</a>
    </div>

{% endblock %}

