{% extends 'layout.html' %}
{% load static %}
{% block title %}
     <title>PadhanPathan</title>
{% endblock%}

{% block content %}
<link rel="stylesheet" href="{% static '/shortcodes/exam.css'%}">
<div class="container">
    <div class="row" >
        <div class="col-lg-12" style="padding:370px; margin-bottom:-60px;">
                <div class="result_box activeResult">
                    <div class="icon">
                        <i class="fas fa-crown"></i>
                    </div>
                    {% if just %}
                         <div class="complete_text">Your Answer Has been Submit</div>
                        <div class="score_text">
                            <p class="text-center">Your answer will be reviewed by course Teacher and you will receive your marks shortly on your Mail</p>
                        </div>
                    {% else %}
                        <div class="complete_text">You've already Given this Exam!</div>
                        <div class="score_text">
                            <p class="text-center">Your answer will be reviewed by course Teacher and you will receive your marks shortly on your Mail</p>
                        </div>
                   {% endif %}
                    <div class="buttons">
                        <div class="restart"></div>
                        <a href="/courses/courseDesk/{{course_id}}/"><button class="quit">Back to Course</button></a>
                    </div>
                </div>
        </div>
</div>
</div>
{% endblock %}