<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head><meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    {{section.title}}
    {% endblock %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'css/versions.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <script src="{% static 'js/modernizer.js'%}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
</head>

<body class="host_version">
	<div id="preloader">
		<div class="loader-container done">
			<div class="progress-br float shadow done">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>

    {% include 'navbar.html' %}
    {% include 'messages.html' %}
    {% include 'messages_render.html' %}
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}

    <a href="#" id="scroll-to-top" class="dmtop global-radius" style="bottom: -100px;"><i class="fa fa-angle-up"></i></a>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="{% static 'js/all.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
	<script src="{% static 'js/timeline.min.js'%}"></script>

	<script>
		$(document).ready(function () {
			var previousScroll = 0;
			$(window).scroll(function () {
				var currentScroll = $(this).scrollTop();
				if (currentScroll < 100) {
					showNav();
				} else if (currentScroll > 0 && currentScroll < $(document).height() - $(window).height()) {
				if (currentScroll > previousScroll) {
					hideNav();
				} else {
					showNav();
				}
				previousScroll = currentScroll;
			}
		});

		function hideNav() {
		    $(".top-navbar").removeClass("is-shownUp").addClass("is-Hidden");
		}

		function showNav() {
		    $(".top-navbar").addClass("is-shownUp").removeClass("is-Hidden");
		}
		});
    </script>
</body>
</html>
