{% load static %}
<header class="top-navbar is-shownUp">
	<nav class="navbar navbar-fixed navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/home">
				<div class="logo-image">
					 <img src="{% static 'images/logo3.png'%}" class="img-fluid">
				 </div>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				 <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbars-host">
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav ">
					<li class="nav-item {{activate_h}}"><a class="nav-link" href="/home">Home</a></li>
					<li class="nav-item dropdown ">
						<a class="nav-link dropdown-toggle" href="/courses" id="dropdown-b" data-toggle="dropdown">Courses</a>
						<div class="dropdown-menu" aria-labelledby="dropdown-b">
							<a class="dropdown-item" href="/courses">Courses </a>
							<a class="dropdown-item" href="/courseEnrolled">Enrolled Course </a>
							<a class="dropdown-item" href="/likedCourses">Wishlist </a>
						</div>
					</li>
					<li class="nav-item {{activate_n}}"><a class="nav-link" href="/newsPortal">News Portal</a></li>
					<li class="nav-item"><a class="nav-link" href="/posts">Student Forum</a></li>
					<li class="nav-item {{activate_a}}"><a class="nav-link" href="/about">About US</a></li>
						<li class="nav-item {{activate_c}}"><a class="nav-link" href="/contact">Contact</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right ml-auto">
					<li class="nav-item dropdown">

							<a  class="{% if request.user.profile.profile_pic %} dropdown-toggle  {% endif %}" href="/showprofile" id="dropdown-a" data-toggle="dropdown">
								{% if request.user.profile.profile_pic %}
      								<img src="/{{request.user.profile.profile_pic}}" width="55" height="40" class="img-responsive rounded-circle ml-5 ">
 								{% else %}
									 <div class="text-center align-center rounded-circle ml-5"  style="margin-right:10px;background-color: black;width: 50px;height: 40px">
										 <p style="text-transform:uppercase; line-height:35px ;position:relative; top:3px; margin:0; font-size:20px" >{{ request.user.profile.firstname.0 }}</p>
										 <i style="float:right; margin-top:-22px; margin-right:-10px" class="fa fa-caret-down" aria-hidden="true"></i>
									 </div>
 								{% endif %}
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								{% if user.is_staff %}
								<a class="dropdown-item" href="/admins-dashboard/">Admin Dashboard</a>
								{% endif %}
								<a class="dropdown-item" href="/showprofile/">Profile</a>
								{% if user.has_usable_password %}
								<a class="dropdown-item" href="/password_change/">Change Password</a>
								{% else %}
								<a class="dropdown-item" href="/password_set/">Set Password</a>
								{% endif %}
								<a class="dropdown-item" href="/logout/">Logout</a>
							</div>
					</li>
				</ul>
             		{{request.user.profile.firstname}}
				 {% else %}
				<ul class="navbar-nav ">
					<li class="nav-item {{activate_h}}"><a class="nav-link" href="/home">Home</a></li>
					<li class="nav-item {{activate_n}}"><a class="nav-link" href="/newsPortal">News Portal</a></li>
					<li class="nav-item {{activate_a}}"><a class="nav-link" href="/">About US</a></li>
					<li class="nav-item {{activate_c}}"><a class="nav-link" href="/contact">Contact</a></li>
<!--					<li class="nav-item {{activate_n}}"><a class="nav-link" href="/newsPortal">News Portal</a></li>-->
<!--					<li class="nav-item {{activate_a}}"><a class="nav-link" href="/about">About US</a></li>-->
<!--					<li class="nav-item {{activate_c}}"><a class="nav-link" href="/contact">Contact</a></li>-->
				</ul>
				<ul class="nav navbar-nav navbar-right ml-auto">
					<li><a class="hover-btn-new log orange" href="/login/{{url_next}}"><span>login</span></a></li>
				</ul>
				{% endif %}

			</div>
		</div>
	</nav>
</header>